In [256]:
import numpy as np
import pandas as pd
import requests
from functions import *
import seaborn as sns
import matplotlib.pyplot as plt

In [257]:
df_IMDb = cleaning_function()

df_IMDb["Year"] = df_IMDb["Year"].str.replace('TV Movie 2019', '2019')

df_IMDb.drop(df_IMDb[df_IMDb.Year.isnull()].index, inplace = True)

df_IMDb["Year"] = df_IMDb["Year"].astype(int)

df_IMDb.rename(columns = {"Title": "Film"}, inplace=True)

df_IMDb = df_IMDb.sort_values("Avg_vote",ascending=False)

/Users/florengutierrez/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [266]:
IMDb_top10 = df_IMDb.head(10)
IMDb_top10 = IMDb_top10.set_index("Film")
IMDb_top10.to_csv("top10_IMDb.csv")
IMDb_top10

,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote
Film,,,,,,,,,
Suvarna Sundari,2019,"Action, Thriller",120,India,Msn Surya,NaN,"Shamna Kasim, Sakshi Chaudhary, Jaya Prada, Av...","The movie revolves around an idol, Suvarna Sun...",9.9
Notuku Potu,2017,"Horror, Mystery",121,India,Basheed S.K.,NaN,"Mumait Khan, Manisha Koirala, Arjun Sarja",Notuku Potu is a crime story laced with elemen...,9.8
Vaarthakal Ithuvare,2019,Comedy,121,India,Manoj Nair,Manoj Nair,"Siju Wilson, Nandu, Vinay Forrt, Mammukoya, Al...","Ittan Pillai, the police station head finds hi...",9.7
The Best Years,2013,"Comedy, Crime, Drama",96,UK,Danny Patrick,Danny Patrick,"Connor Barr, Leon Bearman, Nigel Boyle, Ayden ...",Peace is declared in Northern Ireland after th...,9.4
Ninnu Thalachi,2019,"Comedy, Romance",138,India,Anil Thota,NaN,"Mahesh Achanta, Anand, Naveen Neni, Stefy Pate...",Abhiram (Vamsi Yakasiri) is a happy-go-lucky g...,9.3
Love in Kilnerry,2019,Comedy,100,USA,"Daniel Keith, Snorri Sturluson",Daniel Keith,"Daniel Keith, Kathy Searle, Tony Triano, James...",The elderly resident of a small remote town pa...,9.3
The Transcendents,2018,"Music, Mystery, Thriller",96,USA,Derek Ahonen,Derek Ahonen,"Rob Franco, Savannah Welch, Kathy Valentine, W...","Roger, a Rasputin-like drifter, is in search o...",9.2
Eghantham,2018,Drama,125,India,Arsel Arumugam,Arsel Arumugam,"Shanthi Anand, Gowtham, Anupama Kumar, Neeraja...",NaN,9.2
Digbhayam,2019,Thriller,107,India,Amith,Amith,"Amith, Kavitha Bist, Hamsa Gowda, Monisha Gowd...",An investigative officer investigates a sensat...,9.2
Little Baby,2019,Family,105,India,Shekhar S. Jha,"Rashid Iqbal, Shekhar S. Jha","Priyanshu Chatterjee, Gulnaz Siganporia, Sunny...",Little Baby is a story of unconditional love b...,9.2

In [259]:
df_oscars = oscars()
df_oscars = df_oscars.drop(["Year"], axis="columns")
df_oscars = df_oscars.sort_values("Awards",ascending=False)
df_oscars

                      Film Awards Nominations
466       The Last Emperor      9           9
942                   Gigi      9           9
333    The English Patient      9          12
951     Gone with the Wind  8 (2)          13
510                Amadeus      8          11
...                    ...    ...         ...
986    The House I Live In  0 (1)           0
1221           Sweethearts  0 (1)           2
735     Planet of the Apes  0 (1)           2
1074      Monsieur Vincent  0 (1)           0
931   A Force in Readiness  0 (1)           0

[1317 rows x 3 columns]

In [260]:
Oscar_top10 = df_oscars.head(10)
Oscar_top10 = Oscar_top10.set_index("Film")
Oscar_top10

                      Awards Nominations
Film
The Last Emperor           9           9
Gigi                       9           9
The English Patient        9          12
Gone with the Wind     8 (2)          13
Amadeus                    8          11
Slumdog Millionaire        8          10
Gandhi                     8          11
From Here to Eternity      8          13
Cabaret                    8          10
My Fair Lady               8          12

In [261]:
df_merge = pd.merge(df_IMDb, df_oscars, on='Film')
df_merge = df_merge.drop([2])
df_merge = df_merge.head(25)
df_merge.head()

,Film,Year,Genre,Duration,Country,Director,Writer,Actors,Description,Avg_vote,Awards,Nominations
0,Parasite,2019,"Comedy, Drama, Thriller",132,South Korea,Bong Joon Ho,"Bong Joon Ho, Bong Joon Ho","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo-...",Greed and class discrimination threaten the ne...,8.6,4,6
1,Whiplash,2014,"Drama, Music",106,USA,Damien Chazelle,Damien Chazelle,"Miles Teller, J.K. Simmons, Paul Reiser, Melis...",A promising young drummer enrolls at a cut-thr...,8.5,3,5
3,Joker,2016,"Comedy, Drama",130,India,"Raju Murugan, Raju Saravanan",Raju Murugan,"Guru Somasundaram, Ramya Pandiyan, Gayathri, R...","Mannar (protagonist), a villager who declares ...",8.4,2,11
4,Coco,2017,"Animation, Adventure, Family",105,USA,"Lee Unkrich, Adrian Molina","Lee Unkrich, Jason Katz","Anthony Gonzalez, Gael GarcÃ­a Bernal, Benjami...","Aspiring musician Miguel, confronted with his ...",8.4,2,2
5,1917,2019,"Drama, War",119,"USA, UK, India, Spain, Canada, China",Sam Mendes,"Sam Mendes, Krysty Wilson-Cairns","Dean-Charles Chapman, George MacKay, Daniel Ma...","April 6th, 1917. As a regiment assembles to wa...",8.3,3,10

In [262]:
df_merge.to_csv("merge.csv")